{% extends 'layout/base.html' %}
{% block head %}
    <title>
        Questions
    </title>
{% endblock head%}
{% block content %}
<hr class="show">
<div class="p-4 m-4">
    <div class="d-flex">
        <div class="f-col-6">
            helow
             
        </div>
        <div class="f-col-6">
            helow
             
        </div>
        <div class="f-col-6">
             helow
        </div>
        <div class="f-col-6">
            helow
             
        </div>
    </div>
</div>
{% endblock content%}
